.game-controls {
    display: flex;
    justify-content: center;
}

.block-colors {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto 20% 20% auto;
    grid-template-rows: 200px 200px;
    grid-gap: 1rem;
}

#red {
    grid-column-start: 2;
    background-color: darkred;
}

#green {
    background-color: darkgreen;
}

#blue {
    grid-column-start: 2;
    background-color: darkblue;
}

#orange {
    background-color: darkorange;
}

#count {
    margin: 0 10px;
}

.game-messages {
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {
    .block-colors {
        grid-template-columns: auto 45% 45% auto;
    }
}